*.gem
*.rbc
*.box
.bundle
.config
.yardoc
.idea
.vagrant
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
package.box
Vagrantfile
shipping-quote-spec.yml
shipping-quote-delphi.yml
shipping-quote-lincoln.yml
